html,
body {
  margin: 0;
  font-family: Inter;
  color: #2b283a;
}

header {
  height: 3.43rem;
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
}

h1 {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: -1.085px;
}

.logo {
  margin-right: 0.5em;
}

/*Entry*/

article {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  width: 100%;
  margin: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f5f5f5;
}

.img-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 0.84rem;
}

.main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.marker {
  width: 7px;
  height: 9.545px;
}

.location-infos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.location,
.date,
.description {
  font-size: 0.8rem;
}

.location,
.description {
  font-weight: 400;
}

.location {
  text-transform: uppercase;
  letter-spacing: 1.741px;
}

.location-link {
  font-size: 0.7rem;
}

.location-link:visited {
  color: #918e9b;
}

.travel-title {
  font-size: 1.56rem;
  margin: 0 0 1rem 0;
}

.date,
.travel-title {
  font-weight: 700;
}

.description {
  line-height: 150%; /* 15.36px */
}
